
		<ul class="navbar-nav page-footer">
		  <li  class="bg-dark nav-item  text-center  pt-2 pb-0 ">
		  <blockquote class="blockquote">
  <p class="mb-0 text-secondary">{{appname}}  </p>
  <footer class="blockquote-footer">© 2019 by <cite title="Source Title">
				<a href="#">Stefan Sander <i class="fa fa-envelope"> </i> </a>
			</cite></footer>
</blockquote>
			
		  </li>
		  </ul>
