{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

{% endblock %}

{% block css %}
<style>
	html, body {
	   margin: 0;
	   padding: 0;
	   height:100%;
	   background-color:#e9ecef;
		min-height: 100vh;
	}
	.fullheight {
	   height:100%;
	}
	.page-footer {
		bottom:0px;
		width:100%;
	}
	.bg-grey {
		background-color: #e9ecef;
	}
	.page-title {
		font-size:1.5em;
	 }
	 .navbar-expand {
		position:fixed;
		top:0px;
		width:100%;
		z-index:2000;
	 }	
.active i {
 color:#007bff ;
}
.active>a {
 color:#007bff!important ;
}
.dropdown-menu>.dropdown-item {
 background-color:#fff!important ;
}
.dropdown-menu>.dropdown-item:hover {
 background-color:#007bff!important ;
 color:#fff!important ;
}
.dropdown-menu>.active>a{
}
.shadow-inset {
	box-shadow: inset 0px 0px 15px #bbb;
}
.dropdown-menu>.active{
 color:#007bff!important ;
}
.skew {
 -webkit-transform:skew(10deg);
    -moz-transform:skew(10deg);
    -o-transform:skew(10deg);
    transform:skew(10deg);
}
</style>
{% endblock %}
{% block javascripts %}
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script>
	$(function() {
	{% block jquery %}
			$('.hideMe').click(function() {
				  $(this).animate({
					opacity: '0',
					},1000,function(){$(this).hide(500)})
				  });
	{% endblock %}
	});
	</script>
{% endblock %}

{% block body %}
{% block navigation %}
{% include 'navigation.html.twig' %}
{% endblock %}
	 <div id="page-container" class="p-4 bg-grey">
{% block banner %}
{% include 'banner.html.twig' %}
{% endblock %}
{% block content %}
	<ul class="list-group m-4 shadow-lg ">
	  <li class="list-group-item  bg-primary "><h2  class="text-center text-light page-title pt-1">{% block content_header %}{% endblock %}</h2></li>
	  <li class="list-group-item overflow-auto">
{% block flash_messages %}
{% include 'flash_messages.html.twig' %}
{% endblock %}
    {% block content_body %}hello world{% endblock %}
	</li>
	</ul>
{% endblock %}
	</div>
{% block footer %}
{% include 'footer.html.twig' %}
{% endblock %}
{% endblock %}