<!DOCTYPE html>
<html lang="de" style="height:100%;">
    <head>
    
        <meta charset="UTF-8" /> 
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% block css %}{% endblock %}
    </head>
    <body class="bg-dark" style="height:100%;">
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
