{% if messages.error is defined %}
{% for message in messages.error|reverse %}
<a class="hideMe" href="#"><div class=" flash-notice alert alert-danger text-center w-100">
<div class="animated delay-1s slow  alternate flash "><i class="fas fa-exclamation-circle"></i> {{message}} </div></div></a>
{% endfor %}
{% endif %}
{% if messages.warning is defined %}
{% for message in messages.warning|reverse %}
<a class="hideMe" href="#"><div class=" flash-notice alert alert-warning text-center w-100">
<div class="animated delay-1s slow  alternate flash "><i class="fas fa-exclamation-triangle"></i> {{message}} </div></div></a>
{% endfor %}
{% endif %}
{% if messages.success is defined %}
{% for message in messages.success|reverse %}
<a class="hideMe" href="#"><div class=" flash-notice alert alert-success text-center w-100">
<div class="animated delay-1s slow  alternate flash "><i class="fas fa-check"></i> {{message}} </div></div></a>
{% endfor %}
{% endif %}